// ==========================================================================
// Theme Custom Variables
// ==========================================================================

//
// Example, Try next line!
//

$brand-primary: #07A3B0;
$brand-secundary: #AAECEA;
$brand-tertiary: #26CFA4;
